version: "3.9"

services:

  server_db:
    image: mysql:8.0.22
    environment:
      - MYSQL_DATABASE=eoloplantsDB
      - MYSQL_ROOT_PASSWORD=password
    ports:
      - 3306:3306
    volumes:
      - ./data/server_db:/var/lib/mysql
    restart: always

  mongodb:
    image: mongo:4.4-bionic
    ports:
    - 27017-27019:27017-27019
    env_file:
    - config.env
    volumes:
    - ./data/mongo_db:/data/db
    restart: always

  rabbitmq:
    image: rabbitmq:3-management
    ports:
    - 5672:5672
    - 15672:15672
    env_file:
      - config.env
    volumes:
    - ./data/rabbitmq:/var/lib/rabbitmq
    restart: always

  server: 
    image: urjcmpuchades/eoloplanner-server:v1.0
    ports:
    - 3000:3000
    env_file:
    - config.env
    depends_on: 
    - server_db
    - rabbitmq
    command: ["./wait-for-it.sh", "server_db:3306", "--", "./wait-for-it.sh", "rabbitmq:5672", "--", "node", "src/server.js"]
    restart: on-failure

  planner: 
    image: urjcmpuchades/eoloplanner-planner:v1.0
    env_file:
    - config.env
    depends_on:
    - rabbitmq
    - toposervice
    - weatherservice
    restart: on-failure


  weatherservice: 
    image: urjcmpuchades/eoloplanner-weatherservice:v1.0
    env_file:
    - config.env
    ports:
    - 9090:9090
    restart: on-failure


  toposervice: 
    image: urjcmpuchades/eoloplanner-toposervice:v1.0
    ports:
    - 8080:8080
    env_file:
    - config.env
    depends_on:
    - mongodb
    restart: on-failure